<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:view="http://www.w3.org/1999/xhtml">
<head>
    <title>Tailwind Admin Template</title>
    <th:block th:replace="~{commonhead}"></th:block>
</head>
<body class="bg-gray-100 font-family-karla flex">


<!--/*@thymesVar id="sidebarActiveTab" type="de.tschuehly.fullstackdemo.web.page.layout.sidebar.SidebarViewComponent.ActiveTab"*/-->


<div view:component="sidebarViewComponent.render(null)"></div>

<div class="w-full flex flex-col h-screen overflow-y-hidden">
    <div view:component="headerViewComponent.render(null)"></div>


    <div class="w-full overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
            <h1 class="text-3xl text-black pb-6">Login</h1>
            <form class="flex gap-4 flex-wrap">
                <label>Email:
                    <input type="text" name="email"/>
                </label>
                <label>Password:
                    <input type="password" name="password"/>
                </label>
                <button hx-post="/api/user/login" hx-swap="afterend">Submit</button>
            </form>
        </main>

        <footer class="w-full bg-white text-right p-4">
            Template by <a target="_blank" href="https://davidgrzyb.com" class="underline">David Grzyb</a>.
        </footer>
    </div>

</div>

</body>
</html>