<!-- JavaScript version -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="toastCtx" type="de.tschuehly.fullstackdemo.web.component.util.toast.ToastViewComponent.ToastCtx"*/-->
<div id="toast-element">
  <script th:inline="javascript" >
    function hideToast(){
      document.getElementById('toast-element').style.display = 'none'
    }
    setTimeout(() =>
        hideToast(),
        [[${toastContext.duration}]]
    )
  </script>

  <div>
    <span th:text="${toastContext.message}"></span>
    <button onclick="hideToast()">
      X
    </button>
  </div>
</div>
</html>

<!-- AlpineJS version
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:attr="x-init='setTimeout(() => $el.style.display = \'none\',' + ${toastCtx.duration} + ')'"
     class="fixed bg-gray-800 w-1/2 bottom-8 left-1/4 py-4 px-8 text-center text-white"
     x-data="{}"
     x-ref="info">
  <div class="flex  justify-between">

    <span th:text="${message}"></span>
    <button @click="$refs.info.style.display = 'none'" class="strong">
      X
    </button>
  </div>
</div>
</html>-->
