<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="person" type="de.tschuehly.fullstackdemo.web.component.person.form.PersonFormViewComponent.PersonFormDTO"*/-->
<!--/*@thymesVar id="personFormCtx" type="de.tschuehly.fullstackdemo.web.component.person.form.PersonFormViewComponent.PersonFormCtx"*/-->
<form th:hx-put="${personFormCtx.personPost}"
      class="p-10 bg-white rounded shadow-xl">
    <div class="hidden">
        <label class="block text-sm text-gray-600">
            ID
            <input aria-label="ID" class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
                   name="id"
                   type="text"
                   th:value="${personFormCtx.person.id}">
        </label>
    </div>
    <div class="">
        <label class="block text-sm text-gray-600">
            First Name
            <input aria-label="Name" class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
                   placeholder="Your First Name" type="text"
                   name="firstName" th:value="${personFormCtx.person.firstName}">
        </label>
    </div>
    <div class="mt-2">
        <label class="block text-sm text-gray-600">
            Last Name
            <input aria-label="Last Name" class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded"
                   name="lastName" th:value="${personFormCtx.person.lastName}"
                   placeholder="Your Last Name" type="text">
        </label>
    </div>
    <div class="mt-2">
        <label class="block text-sm text-gray-600">
            Phone Number
            <input aria-label="Telephone Number" class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded"
                   name="phoneNumber" th:value="${personFormCtx.person.phoneNumber}"
                   placeholder="Your Telephone Number" type="tel">
        </label>
    </div>
    <div class="mt-2">
        <label class="block text-sm text-gray-600">
            Birth Date
            <input class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded"
                   name="birthDate" th:value="${personFormCtx.person.birthDate}"
                   type="date" placeholder="Your Birth Date" aria-label="Birth Date">
        </label>
    </div>

    <div class="mt-2">
        <label class="block text-sm text-gray-600">
            Email
            <input class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded"
                   name="email" th:value="${personFormCtx.person.email}"
                   type="text" placeholder="Your Email" aria-label="Email">
        </label>
    </div>
    <div class="mt-6">
        <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Submit</button>
    </div>
</form>
<div id="toast"></div>
</html>