<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<script src="/js/chart_2.9.3.min.js"></script>
<!--/*@thymesVar id="chartCtx" type="de.tschuehly.fullstackdemo.web.component.util.chart.ChartViewComponent.ChartCtx"*/-->
<canvas id="barchart" th:width="${chartCtx.barchartDetails.width}" th:height="${chartCtx.barchartDetails.height}">
    <script th:inline="javascript">
        new Chart(document.currentScript.parentElement, {
            type: /*[[${chartCtx.barchartDetails.type}]]*/'',
            data: {
                labels: /*[[${chartCtx.barchartDetails.labels}]]*/ [],
                datasets: [{
                    label: /*[[${chartCtx.barchartDetails.chartLabel}]]*/ '',
                    data: /*[[${chartCtx.barchartDetails.data}]]*/ [],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    </script>
</canvas>
</html>