<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
    <div class="w-3/4 flex ">
        <a href="https://www.tschuehly.de/" target="_blank"
           class="flex items-center opacity-75 hover:opacity-100 py-2 px-4 nav-item">
            My Blog
        </a>
        <a href="https://github.com/tschuehly/rapid-fullstack-demo" target="_blank"
           class="flex items-center opacity-75 hover:opacity-100 py-2 px-4 nav-item">
            Github Repository
        </a>
        <a href="https://github.com/tschuehly/spring-view-component" target="_blank"
           class="flex items-center opacity-75 hover:opacity-100 py-2 px-4 nav-item">
            Spring ViewComponent
        </a>
        <a href="https://github.com/tschuehly/supabase-security-spring-boot-starter" target="_blank"
           class="flex items-center opacity-75 hover:opacity-100 py-2 px-4 nav-item">
            Supabase Spring Security Starter
        </a>
    </div>
    <div x-data="{ isOpen: false }" class="relative w-1/4 flex justify-end">

        <button @click="isOpen = !isOpen"
                class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
            <img th:if="${#authentication.principal != 'anonymousUser'}"
                 src="https://source.unsplash.com/uJ8LNVCBjFQ/400x400">
            <div class="flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-user">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
            </div>
        </button>
        <button x-show="isOpen" @click="isOpen = false" class="h-full w-full fixed inset-0 cursor-default"></button>
        <div x-show="isOpen" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16">
            <a th:if="${#authentication.principal == 'anonymousUser'}"
               href="/login"
               class="block px-4 py-2 account-link hover:text-white">
                Login
            </a>
            <a th:if="${#authentication.principal == 'anonymousUser'}"
               href="/register"
               class="block px-4 py-2 account-link hover:text-white">
                Register
            </a>
            <a th:if="${#authentication.principal != 'anonymousUser'}"
               hx-get="/api/user/logout" class="block px-4 py-2 account-link hover:text-white">
                Log Out
            </a>
        </div>
    </div>
</header>

<!-- Mobile Header & Nav -->
<header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden">
    <div class="flex items-center justify-between">
        <a href="index.html" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
        <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
            <i x-show="!isOpen" class="fas fa-bars"></i>
            <i x-show="isOpen" class="fas fa-times"></i>
        </button>
    </div>

    <!-- Dropdown Nav -->
    <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
        <a href="https://www.tschuehly.de/"
           class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            My Blog
        </a>
        <a href="https://github.com/tschuehly/rapid-fullstack-demo"
           class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            Github Repository
        </a>
        <a href="https://github.com/tschuehly/spring-view-component"
           class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            Spring ViewComponent
        </a>
        <a href="https://github.com/tschuehly/supabase-security-spring-boot-starter"
           class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            Supabase Spring Security Starter
        </a>
        <th:block
                th:each="tab : ${T(de.tschuehly.rapidfullstackdemo.web.page.layout.sidebar.SidebarViewComponent.ActiveTab).values()}">
            <a th:href="${tab.href}" class="flex items-center  text-white py-2 pl-4 nav-item"
               th:classappend="${tab == activeTab ? 'active-nav-link' : ' opacity-75 hover:opacity-100 '}">
                <i class="fas mr-3" th:classappend="${tab.icon}"></i>
                <span th:text="${tab.displayName}"></span>
            </a>
        </th:block>
        <a th:if="${#authentication.principal == 'anonymousUser'}"
           href="/login"
           class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-user mr-3"></i>
            Login
        </a>
        <a th:if="${#authentication.principal == 'anonymousUser'}"
           href="/register"
           class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-user mr-3"></i>
            Register
        </a>
        <a th:if="${#authentication.principal != 'anonymousUser'}"
           hx-get="/api/user/logout"
           class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-sign-out-alt mr-3"></i>
            Log Out
        </a>
    </nav>
</header>

</html>