<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="alpineTabContext" type="de.tschuehly.fullstackdemo.web.component.util.alpineTab.AlpineTabViewComponent.AlpineTabCtx"*/-->
<div x-data="{ openTab: 0 }">
  <ul>
    <li th:x-on:click="'openTab = '+ ${el.index}"
        th:each="header, el : ${alpineTabContext.headerList}">
      <button th:text="${header}"> </button>
    </li>
  </ul>

  <div th:each="content, el : ${alpineTabContext.contentList}"
       th:x-show="'openTab === ' + ${el.index}"
       th:text="${content}">
  </div>
</div>
</html>